<?xml version="1.0"?>
<web-app>
    <welcome-file-list>
        <welcome-file>static/index.html</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>/index.html</welcome-file>
        <welcome-file>webapp/WEB-INF/index.html</welcome-file>
        <welcome-file>WEB-INF/index.html</welcome-file>
    </welcome-file-list>
</web-app>